<p-dialog [(visible)]="displayUserProjectTeam" (onAfterHide)="hideSelectedProjectTeam($event)" modal="modal" width="650" responsive="true">
    <p-header id="changeTeamHeader">Członkowie <span class="ui-inputgroup-addon"><i class="fa fa-users"></i></span></p-header>
    <p-dataTable [value]="selectedUserProjectTeam" [paginator]="true" [rows]="10" [responsive]="true">
        <p-header>Zespół użytkowników w danym projekcie</p-header>
        <p-column field="firstName" header="Imie"></p-column>
        <p-column field="lastName" header="Nazwisko"></p-column>
        <p-column field="email" header="E-mail"></p-column>
    </p-dataTable>
</p-dialog>
