<div class="content-section overHidden">
	<p-growl [(value)]="msgs"></p-growl>

	<h3>Dział:</h3>


	<div class="data-container">
		<div class="datatable">
			<p-dataTable [value]="departments" selectionMode="single"
				[paginator]="true" [rows]="10" [responsive]="true"> <header>Działy
				</header>
				 <p-column field="name" header="Nazwa działu" [sortable]="true"></p-column>
			<p-column field="leader.lastName" header="Lider"></p-column>
			<p-column *ngIf="_permissionsEngine.hasPermission([rolesEnum.SUPERVISOR,rolesEnum.ADMINISTRATOR])" header="Akcje">
			  <template let-department ="rowData" pTemplate="body">
			  <button type="text" pTooltip="Modyfikuj dane" tooltipPosition="top" field="description"(click)="editDepartment(department.id)" pButton icon="fa-pencil-square-o "></button>
			  <button type="text" pTooltip="Usuń" tooltipPosition="top" field="description"(click)="showDeleteDepartmentConfirm(department.id)" pButton icon="fa-trash"></button>
			  <button type="text" pTooltip="Dodaj użytkownika do działu" tooltipPosition="top" field="description"(click)="addUsersToTeam(department)" pButton icon="fa-user-plus"></button>
            </template>
			</p-column>
			 </p-dataTable>
		</div>
    </div>
    <br/>
    <div style="float: right;">
        <button type="text" *ngIf="_permissionsEngine.hasPermission([rolesEnum.SUPERVISOR,rolesEnum.ADMINISTRATOR])" (click)="showDialog()" pButton icon="fa-plus" label="Dodaj dział"></button>
    </div>
    
	<p-dialog header="Dział" [(visible)]="display" modal="modal" width="300" responsive="true" (onAfterHide)="clearDepartmentUI()">
        <div>
            <label for="name">Nazwa&nbsp;&nbsp;</label><br />
            <input type="text" pInputText  name="name" [disabled]="inputDisable.name"   [(ngModel)]="model.name" required />
        </div>
        <div>
            <label for="id">Lider</label><br />
           <p-dropdown [options]="teamLeaders" name="leader" [(ngModel)]="model.leader" [style]="{'width':'250px'}" filter="filter"></p-dropdown>
        </div>
            <br />
           <br />
           <br />
    		<br />
           <br />
           <br />
  			<br />
  			<br />
        <p-footer>
            <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
                <button type="button" pButton icon="fa-close" (click)="clearDepartmentUI()" label="Anuluj"></button>
                <button [disabled]="loading" pButton icon="fa-check" label = "OK"(click)="displayButtonAction()" ></button>
            </div>
            
        </p-footer> 

</p-dialog>
	<p-dialog header="Dodaj użytkowników do działu" [(visible)]="team" modal="modal" width="500"  responsive="true">
  <p-pickList [style]= "{ 'display': picketLinkVisible}" [source]="users" [target]="usersInTeam" sourceHeader="Użytkownicy" targetHeader="Zespół" [responsive]="true" [sourceStyle]="{'height':'200px'}" [targetStyle]="{'height':'200px'}" >
    <template let-user pTemplate="item">
        <div class="ui-helper-clearfix">
            <div *ngIf="user.active=='0'" style="color:gray">{{user.lastName +"&nbsp;"+ user.firstName}}</div>
            <div *ngIf="user.active==1">{{user.lastName +"&nbsp;"+ user.firstName}}</div>
        </div>
    </template>
</p-pickList>

 <p-footer>
            <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
                <button type="button" pButton icon="fa-close" (click)="close()" label="Anuluj"></button>
                <button [disabled]="loading" pButton icon=" fa-check" (click)="saveTeam()" label = "OK"></button>
            </div>
            
        </p-footer> 
</p-dialog>

        <p-confirmDialog icon="fa fa-question-circle" width="425" #cd>
                <p-footer>         
                    <button type="button" pButton icon="fa-close" label="Nie" (click)="cd.reject()"></button>
                    <button type="button" pButton icon="fa-check" label="Tak" (click)="cd.accept()"></button>
                </p-footer>
        </p-confirmDialog>

 </div>