<div class="content-section overHidden">
	<p-growl [(value)]="msgs"></p-growl>
	<h3>Klienci:</h3>
	<div class="data-container">
		<div class="datatable">
			<p-dataTable [value]="customers" selectionMode="single"
				[paginator]="true" [rows]="10" [responsive]="true"> <header>Klienci
				</header>
				 <p-column field="name" header="Nazwa klienta" [sortable]="true"></p-column>
			<p-column field="address" header="Adres"></p-column>
			<p-column *ngIf="_permissionsEngine.hasPermission([rolesEnum.SUPERVISOR,rolesEnum.ADMINISTRATOR])" header="Akcje">
			  <template let-customer ="rowData" pTemplate="body">
			  <button type="text" pTooltip="Modyfikuj dane" tooltipPosition="top" field="address"(click)="editCustomer(customer.name)" pButton icon="fa-pencil-square-o "></button>
			  <button type="text" pTooltip="Usuń" tooltipPosition="top" field="address"(click)="showDeleteCustomerConfirm(customer.name)" pButton icon="fa-trash"></button>
			
            </template>
			</p-column>
			
			 </p-dataTable>
        </div>
    </div>
    <br/>
    <div style="float: right;">       
        <button type="text" *ngIf="_permissionsEngine.hasPermission([rolesEnum.SUPERVISOR,rolesEnum.ADMINISTRATOR])" (click)="showDialog()" pButton icon="fa-plus" label="Dodaj klienta"></button>
    </div>
    
	<p-dialog header="Klient" [(visible)]="display" modal="modal" width="300" responsive="true" (onAfterHide)="clearCustomerUI()">
        <div>
            <label for="name">Nazwa&nbsp;&nbsp;</label><br />
            <input type="text" pInputText  name="name" [disabled]="inputDisable.name"   [(ngModel)]="model.name"required />
        </div>
        <div>
            <label for="street">Ulica</label><br />
            <input type="text" pInputText name="street" [disabled]="inputDisable.street" [(ngModel)]="model.street" required pattern="[a-zA-Z]*"/>
        </div>
        <div >
            <label for="houseNumber">Nr domu</label><br />
            <input type="text" pInputText name="houseNumber"  [disabled]="inputDisable.houseNumber" [(ngModel)]="model.houseNumber" required pattern="[0-9]+[a-zA-Z]?"/>
        </div>
            <label for="apartmentNumber">Nr mieszkania</label><br />
             <input type="text" pInputText  name="apartmentNumber"  [disabled]="inputDisable.apartmentNumber" [(ngModel)]="model.apartmentNumber" required pattern="[0-9]+"/> 
         <div>
            <label for="zipCode">Kod Pocztowy</label><br />
            <input type="text" pInputText  name="zipCode"  [disabled]="inputDisable.zipCode" [(ngModel)]="model.zipCode" required pattern="[0-9]{1,4}[-][0-9]{1,4}"/>
        </div>
        <div>
            <label for="city">Miasto &nbsp;&nbsp;</label><br />
            <input type="text" pInputText  name="city" [disabled]="inputDisable.city" [(ngModel)]="model.city"required pattern="[a-zA-Z]*" />
        </div>
        <div>
            <label for="country">Państwo</label><br />
            <input type="text" pInputText name="country" [disabled]="inputDisable.country"  [(ngModel)]="model.country" required pattern="[a-zA-Z]*" />
        </div>
        <p-footer>
            <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
                <button type="button" pButton icon="fa-close" (click)="clearCustomerUI()" label="Anuluj"></button>
                <button [disabled]="loading" pButton icon="fa-check" label = "OK"(click)="displayButtonAction()"></button>
            </div>
        </p-footer> 
    </p-dialog>

    <p-confirmDialog icon="fa fa-question-circle" width="425" #cd>
        <p-footer>         
            <button type="button" pButton icon="fa-close" label="Nie" (click)="cd.reject()"></button>
            <button type="button" pButton icon="fa-check" label="Tak" (click)="cd.accept()"></button>
        </p-footer>
    </p-confirmDialog>
</div> 