<div id="fielsetContentMargin">
    <p-fieldset id="fielsetContentMargin" legend="Dynamiczne generowanie tabeli raportu" [toggleable]="false">
        <div class="ui-g">
            <project-basic-information class="ui-g-12"></project-basic-information>
            <raport-table-schemat class="ui-g-12"></raport-table-schemat> 
        </div>
    </p-fieldset>
</div>