﻿<div class="content-section overHidden">
<br />
	<div style="height: 255px; border: 2px solid #1976D2;border-radius:10px">
		<div class="ui-g-12 ui-md-6 ui-lg-12">
		<div class="ui-g-12 ui-md-6 ui-lg-3">
	        <h3>Wybierz projekt</h3>
	        <p-dropdown [options]="projectsItems" (onChange)="refreshTable()" class="form-control" name="project" [(ngModel)]="model.project" #project="ngModel" [style]="{'width':'100%'}" filter="filter"></p-dropdown>
	   </div>
	     <div class="ui-g-10 ui-md-3 ui-lg-2">
	       <h3>Data</h3>
	        <p-calendar [(ngModel)]="model.date" [showIcon]="true"[style]="{'width': '90%'}" [inputStyle]="{'width': 'calc(100% - 40px)'}" dateFormat="dd.mm.yy"></p-calendar>
	     </div>
	    <div class="ui-g-10 ui-md-3 ui-lg-6">
	       	<h3>Opis</h3>
	        <input type="text" pInputText class="ui-g-12" name="description" [disabled]="inputDisable.description" [(ngModel)]="model.description" #description="ngModel" [style]="{'width':'90%'}" required />
	    </div>
	 </div>
		<div class="ui-g-12 ui-md-6 ui-lg-12">
	     <div class="ui-g-10 ui-md-3 ui-lg-2">
	        <h3>Od </h3>
	        <p-calendar [(ngModel)]="model.startTime" [timeOnly]="true"[style]="{'width': '90%'}" [inputStyle]="{'width': '100%', 'text-align':'center'}"(onBlur)="calcHours()"(onSelect)="calcHours()"></p-calendar>
	    </div>
	   <!--  <input type="time" id="endTime" name="endTime"  [(ngModel)]="model.endTime" #endTime="ngModel" style="width:130px; height:22px;background: #ffffff;
  			  padding: 0.5em 0.75em;    border-radius: 0.25em;  font-size: 1em; color: #55595c;line-height: 1.25;border: 1px solid rgba(0, 0, 0, 0.15);    font: 13.3333px Arial;"
      		  placeholder="HH:mm:ss" min=model.startTime max="23:59:00" required />-->
	     <div class="ui-g-10 ui-md-3 ui-lg-2">
	        <h3>Do </h3>
	        <p-calendar [(ngModel)]="model.endTime" [timeOnly]="true"[style]="{'width': '90%'}" [inputStyle]="{'width': '100%', 'text-align':'center'}"(onBlur)="calcHours()"(onSelect)="calcHours()"></p-calendar>
	    </div>
 		<div class="ui-g-10 ui-md-3 ui-lg-2">
	        <h3>Czas (h:m) </h3>
	        <p-calendar [(ngModel)]="model.sumTime" [timeOnly]="true"[style]="{'width': '90%'}" [inputStyle]="{'width': '100%', 'text-align':'center'}"(onBlur)="removeHours()"(onSelect)="removeHours()"></p-calendar>
	    </div>
	    <div class="ui-g-10 ui-md-3 ui-lg-5">
	    <br />
	    <br />
	    <br />
		<button type="text" (click)="addTask()" pButton icon="fa-plus" label="Dodaj" style="float: right;"></button>
	     </div>
      </div>
 	</div>
      
      
     <h3>Historia raportów:</h3>
 		<div class="ui-g-12 ui-md-6 ui-lg-3">
	       <h3>Od</h3>
	        <p-calendar [(ngModel)]="model.fromDate" [showIcon]="true" [maxDate]="model.toDate"dateFormat="dd.mm.yy"></p-calendar> 
	     </div>
	     <div class="ui-g-12 ui-md-6 ui-lg-3">
	       <h3>Do</h3>
	        <p-calendar [(ngModel)]="model.toDate" [showIcon]="true" [minDate]="model.fromDate"dateFormat="dd.mm.yy"></p-calendar>
	     </div>
	     <div class="ui-g-12 ui-md-6 ui-lg-3">
	        <h3>Wybierz projekt</h3>
	        <p-dropdown [options]="projectsFilterItems" class="form-control" name="selectedProject" [(ngModel)]="model.selectedProject" #selectedProject="ngModel" [style]="{'width':'250px'}" filter="filter"></p-dropdown>
	   	</div>
     	  <div class="ui-g-12 ui-md-6 ui-lg-3">
	    <br />
	    <br />
	    <br />
	    <div style="float: right;">
			<p-splitButton label="Pobierz" icon="fa-download" [model]="downloadTypeItems"></p-splitButton>
		</div>
	    <button type="text" (click)="showProjects()" pButton icon="fa-search" label="Filtruj"style="float: right;"></button>
	     </div>
	     <p-growl [(value)]="msgs"></p-growl>
<div class="ui-g-12 ui-md-6 ui-lg-12">
	<div class="data-container">
		<div class="datatable">
			<p-dataTable [value]="taskList" 
				[paginator]="true" [rows]="10" [responsive]="true" selectionMode="false" [rowStyleClass]="rowStyles"  sortField="date" [sortOrder]="-1">
			<p-column field="projectName" header="Nazwa"></p-column>
			<p-column field="date" header="Data" [sortable]="true"></p-column>
			<p-column field="fromH" header="Od" [sortable]="true"  ></p-column>
			<p-column field=toH header="Do" [sortable]="true" [style]="{'overflow':'visible'}" > </p-column>	
			<p-column field=hours header="Czas" [sortable]="true" [style]="{'overflow':'visible'}" > </p-column>	
			<p-column field=description header="Opis" [sortable]="true" [style]="{'overflow':'visible'}" ></p-column>
		<p-column header="Akcje">
			  <template let-task ="rowData" pTemplate="body">
			  <button  *ngIf="task.active!=0" pTooltip="Usuń" tooltipPosition="top" type="text" field="id"(click)="showDeleteProjectConfirm(task.id)" pButton icon="fa-trash"></button>
			  <button  *ngIf="task.active!=0" pTooltip="Modyfikuj dane" tooltipPosition="top" type="text" field="description"(click)="createTaskUI(task.id)" pButton icon="fa-pencil-square-o "></button>
            </template>
			</p-column>
			 </p-dataTable>
		</div>
				<div class="ui-g-12 ui-md-6 ui-lg-10">
		<h3  style="float: right;margin: 10px 0 0 0">Suma godzin</h3>
		</div>
		<div class="ui-g-12 ui-md-6 ui-lg-2">
			<input id="sum" type="text" size=20 pInputText [(ngModel)]="model.summary" pInputText [disabled]="true" style="opacity:1" />
		</div>
		<br />
	    <br />
	    <br />
	    <br />
	    <br />
	    <br />
	    <br />
</div>
	<p-dialog header="Edytuj raport" [(visible)]="editRaport" modal="modal" width="500"  responsive="true">
  		<div class="ui-g-12">
            <label for="project">Wybierz projekt</label><br />
	        <p-dropdown [options]="projectsItems" class="form-control" name="project" [(ngModel)]="model.taskProjectId" #project="ngModel" [style]="{'width':'150px'}" filter="filter"></p-dropdown>
	   </div>
  		<div class="ui-g-12">
            <label for="date">Data</label><br />
	        <p-calendar [(ngModel)]="model.taskDate" [showIcon]="true" [inputStyle]="{'width':'120px'}"name="date"dateFormat="dd.mm.yy"></p-calendar>
	     </div>
  		<div class="ui-g-12">
            <label for="from">Od</label><br />
	        <p-calendar [(ngModel)]="model.taskStartTime" [timeOnly]="true"[inputStyle]="{'width':'130px'}" name="from" (onBlur)="calcHours()"(onSelect)="calcHours()"></p-calendar>
	    </div>
	   <!--  <input type="time" id="endTime" name="endTime"  [(ngModel)]="model.endTime" #endTime="ngModel" style="width:130px; height:22px;background: #ffffff;
  			  padding: 0.5em 0.75em;    border-radius: 0.25em;  font-size: 1em; color: #55595c;line-height: 1.25;border: 1px solid rgba(0, 0, 0, 0.15);    font: 13.3333px Arial;"
      		  placeholder="HH:mm:ss" min=model.startTime max="23:59:00" required />-->
  		<div class="ui-g-12">
            <label for="to">Do</label><br />
	        <p-calendar [(ngModel)]="model.taskEndTime" [timeOnly]="true"[inputStyle]="{'width':'130px'}" name="to"(onBlur)="calcHours()"(onSelect)="calcHours()"></p-calendar>
	    </div>
	    <div class="ui-g-12">
            <label for="time">Czas</label><br />
	        <p-calendar [(ngModel)]="model.taskTime" [timeOnly]="true"[inputStyle]="{'width':'130px'}" name="time" (onBlur)="removeHours()"(onSelect)="removeHours()"></p-calendar>
	    </div>
   		<div class="ui-g-12">
            <label for="description">Opis</label><br />
	        <input type="text" pInputText class="ui-g-12" name="description" [disabled]="inputDisable.description" [(ngModel)]="model.taskDescription" #description="ngModel" [style]="{'width':'250px'}" required />
	    </div>
 <p-footer>
            <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
                <button type="button" pButton icon="fa-close" (click)="close()" label="Anuluj"></button>
                <button [disabled]="loading" pButton icon=" fa-check" (click)="editTask()" label = "OK"></button>
            </div>
            
        </p-footer> 
</p-dialog>

		<p-confirmDialog icon="fa fa-question-circle" width="425" #cd>
			<p-footer>         
				<button type="button" pButton icon="fa-close" label="Nie" (click)="cd.reject()"></button>
				<button type="button" pButton icon="fa-check" label="Tak" (click)="cd.accept()"></button>
			</p-footer>
    	</p-confirmDialog>

</div>