<p-dataTable [value]="list" scrollable="true" responsive="true" editable="false" scrollWidth="80vw" frozenWidth="5vw" unfrozenWidth="76vw">
    
    <p-headerColumnGroup>
        <p-row>
            <p-column [style]="{'width':'70vw', 'height':'3vh', 'text-align':'center'}" header="Schemat raportu"></p-column>
        </p-row>
    </p-headerColumnGroup>

    <p-column frozen="true" [style]="{'width':'5vw', 'height':'10vh', 'text-align':'center'}" field="rowName"></p-column>

    <p-column [style]="{'width':'75vw', 'height':'10vh', 'text-align':'center'}" *ngIf="list[0].valueList.length == 0"> </p-column>
    <p-column editable="true" [style]="{'width':'15vw', 'height':'10vh', 'text-align':'center'}" *ngFor="let column of list[0].valueList; let i='index'">     
        <template let-row="rowData" pTemplate="body">
            <span>{{row.valueList[i]}}</span>
        </template>
    </p-column> 

</p-dataTable>

<div>
    <button pButton type="button" label="Dodaj kolumne" class="ui-button-info" (click)="onAddColumnClick()"></button>
    <button pButton type="button" label="Usun kolumne" class="ui-button-info" (click)="onDeleteColumnClick()"></button>
</div>