#userDataInputsStyle {
    margin-left: 7em;
    width: 10em;
}

#buttonChangePasswordStyle {
    margin-top: -1em;
    float: right;
    margin-bottom: -2em;
}

#userBasicInformationHeader {
    margin-left: 39%
}

.fa {
    font-size: 1.2em;
    color: #0275D8;
}
