<p-panel>
    <p-header id="userBasicInformationHeader">Prywatne dane <span class="ui-inputgroup-addon"><i class="fa fa-drivers-license"></i></span></p-header>
    <div class="ui-g" [style.height]="13+'em'"> 
        <div id="userDataStyle">
            <div class="ui-g-6" id="userDataInputsStyle">  
                <span class="ui-inputgroup-addon"><i class="fa fa-arrow-circle-right"></i></span>                       
                <label for="firstName">Imie</label>               
                <input type="text" [disabled]="disableUserDataInputs" id="firstName" pInputText [(ngModel)]="loggedInUser.firstName">
            </div>
            <div class="ui-g-6" id="userDataInputsStyle">
                <span class="ui-inputgroup-addon"><i class="fa fa-arrow-circle-right"></i></span> 
                <label for="lastName">Nazwisko</label>    
                <input type="text" [disabled]="disableUserDataInputs" id="lastName" pInputText [(ngModel)]="loggedInUser.lastName">
            </div>    
        </div>

        <div id="userDataStyle">
            <div class="ui-g-6" id="userDataInputsStyle"> 
                <span class="ui-inputgroup-addon"><i class="fa fa-arrow-circle-right"></i></span>                
                <label for="login">Login</label>
                <input type="text" [disabled]="disableUserDataInputs" id="login" pInputText [(ngModel)]="loggedInUser.username">
            </div>
            <div class="ui-g-6" id="userDataInputsStyle"> 
                <span class="ui-inputgroup-addon"><i class="fa fa-arrow-circle-right"></i></span> 
                <label for="email">E-mail</label>   
                <input type="text" [disabled]="disableUserDataInputs" id="email" pInputText [(ngModel)]="loggedInUser.email"> 
            </div>    
        </div> 

        <div class="ui-g-12">
            <button pButton id="buttonChangePasswordStyle" type="button" icon="fa fa-exchange" (click)="onChangePasswordClick()" label="Zmień hasło"></button>              
        </div>
    </div>
</p-panel>

<user-change-password [(showUserChangePassword)]="showUserChangePassword" [user]="loggedInUser" (closeEvent)="closeUserChangePassword($event)"></user-change-password>