.fa {
    font-size: 1.2em;
    color: #0275D8;
}

#centerRaportHeader {
    margin-left: 29%
}

#buttonGeneratePosition {
    float: right;
}

#componentTopPosition {
    margin-top: -2em;
    margin-bottom: -1em;
}

#componentNameProjectLabel {
    margin-left: 5em;
}

#componentNameProjectInput {
    margin-left: 2.5em;
}

#componentGenerateTypeLabel {
    margin-left: 3.7em;
}

#componentGenerateTypeInput {
    margin-left: 2.5em;
}

#componentFromDateLabel {
    margin-left: 4.5em;
}

#componentFromDateInput {
    margin-left: 1.5em;
}

#componentToDateLabel {
    margin-left: 5em;
}

#componentToDateInput {
    margin-left: 1.5em;
}