<p-dialog [(visible)]="displayUserGenerateRaport" (onAfterHide)="hideUserGenerateRaport()" modal="modal" width="700" height="610" responsive="true">    
    <p-header id="centerRaportHeader">Generowanie raportu <span class="ui-inputgroup-addon"><i class="fa fa-file-pdf-o"></i></span></p-header> 
        <div class="ui-g">
            <div class="ui-g-12"> 
                <div class="ui-g-6" id="componentTopPosition">
                    <h3 id="componentNameProjectLabel">Nazwa projektu</h3>
                    <p-dropdown id="componentNameProjectInput" [filter]="true" [options]="dropDownProjectsName" [(ngModel)]="selectedProjectId" [style]="{'width':'15em'}"></p-dropdown>                   
                </div>
                <div class="ui-g-6" id="componentTopPosition">
                    <h3 id="componentGenerateTypeLabel">Rodzaj generowania</h3>
                    <p-dropdown id="componentGenerateTypeInput" [filter]="true" [options]="dropDownGenerateType" [(ngModel)]="selectedGenerateType" [style]="{'width':'15em'}"></p-dropdown>                
                </div> 
            </div>
            <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix ui-g-12"></div>
            <div class="ui-g-12">
                <div class="ui-g-6" id="componentTopPosition">
                    <h3 id="componentFromDateLabel">Zakres początkowy</h3>
                    <p-calendar id="componentFromDateInput" [(ngModel)]="selectedFromDate" [minDate]="minDateRangeRestriction" [maxDate]="maxDateRangeRestriction" [monthNavigator]="true" [inline]="true"></p-calendar>                      
                </div>
                <div class="ui-g-6" id="componentTopPosition">
                    <h3 id="componentToDateLabel">Zakres końcowy</h3>
                    <p-calendar id="componentToDateInput" [(ngModel)]="selectedToDate" [minDate]="minDateRangeRestriction" [maxDate]="maxDateRangeRestriction" [monthNavigator]="true" [inline]="true"></p-calendar>   
                </div> 
            </div> 
            <div id="buttonGeneratePosition" class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix ui-g-12">
                <button pButton  type="button" label="Generuj raport" [disabled]="disableGenerateButton" (click)="onGenerateRaportButtonClick()" icon="fa fa-file-text"></button> 
            </div>    
        </div>         
</p-dialog>