<p-growl [(value)]="msgs"></p-growl>
<form [formGroup]="userChangePasswordForm" (ngSubmit)="onChangePasswordSubmit()">
    <p-dialog [(visible)]="showUserChangePassword" modal="modal" width="500" responsive="true" (onAfterHide)="closeUserChangePassword()">  
        <p-header id="changePasswordHeader">Zmiana hasła <span class="ui-inputgroup-addon"><i class="fa fa-lock"></i></span></p-header>
        <div class="ui-g" [style.width]="27+'em'">
            <div class="ui-g-6" id="changePasswordLabelsContentWidth"> 
                <div class="ui-g-12" id="changePasswordlabelsStyle"> 
                    <span class="ui-inputgroup-addon"><i class="fa fa-arrow-circle-right"></i></span>                
                    <label for="oldPassword">Stare hasło</label>
                </div>
                <div class="ui-g-12" id="changePasswordlabelsStyle"> 
                    <span class="ui-inputgroup-addon"><i class="fa fa-arrow-circle-right"></i></span>                
                    <label for="newPassword">Nowe hasło</label>
                </div>
                <div class="ui-g-12" id="changePasswordlabelsStyle"> 
                    <span class="ui-inputgroup-addon"><i class="fa fa-arrow-circle-right"></i></span>                
                    <label for="reapetedNewPassword">Powtórz nowe hasło</label>
                </div>
            </div>
            <div class="ui-g-6"> 
                <div class="ui-g-12" id="changePasswordInputStyle"> 
                    <input id="oldPassword" type="password" pPassword feedback="false" formControlName="oldPassword"/>
                </div>
                <div class="ui-g-12" id="changePasswordInputStyle"> 
                    <input id="newPassword" type="password" pPassword feedback="false" formControlName="newPassword"/>
                </div>
                <div class="ui-g-12" id="changePasswordInputStyle"> 
                    <input id="reapetedNewPassword" type="password" pPassword feedback="false" formControlName="reapetedNewPassword"/>
                </div>
            </div>
        </div>
        <div id="changePasswordButtonPosition">
            <button pButton type="submit" label="Akceptuj" icon="fa-check" [disabled]="!userChangePasswordForm.valid"></button>
            <button pButton type="button" label="Anuluj" icon="fa-close" (click)="closeUserChangePassword()"></button>
        </div>
    </p-dialog>
</form>