#changePasswordInputStyle {
    margin-bottom: 0.7em;
}

#changePasswordlabelsStyle {
    margin-top: 0.8em;
    margin-bottom: 0.6em;
}

#changePasswordButtonPosition {
    float: right;
}

#changePasswordHeader {
    margin-left: 33%
}

.fa {
    font-size: 1.2em;
    color: #0275D8;
}