#userProjectStyle {
    margin: auto;
    width: 75%;
}
.fa {
    font-size: 1.2em;
    color: #0275D8;
}

.ui-button-icon-only {
    border-radius: 20px !important;
    max-width: 2em !important;
    min-width: 2em !important;
    max-height: 2em !important;
    min-height: 2em !important;
    margin-left: 7.6em;
    margin-top: -0.2em;
    margin-bottom: -0.2em;
}

#butonsFloatRight {
    float: right;
    margin-top: 1em;
    margin-bottom: -0.2em;
}

