<p-dataTable [value]="projects" [paginator]="true" [rows]="5" [responsive]="true">
    <p-header>
        Moje projekty <span class="ui-inputgroup-addon"><i class="fa fa-tasks"></i></span>
    </p-header>
    <p-column field="name" header="Nazwa" [sortable]="true"></p-column>
    <p-column field="customer.name" header="Klient" [sortable]="true"></p-column>
    <p-column field="department.name" header="Dział" [sortable]="true"></p-column>
    <p-column field="projectManager.firstName" header="Menadżer projektu" [sortable]="true"></p-column>
    <p-column header="Zespół">
        <template let-project="rowData" pTemplate="body">        
             <button pButton [style]="ui-button-icon-only" icon="fa-search" (click)="displaySelectedProjectTeam(project.team)"></button>        
        </template> 
    </p-column>
</p-dataTable>

<button pButton id="butonsFloatRight" type="button" (click)="displayGenerateRaport()" label="Raport projektów" icon="fa fa-file-text"></button>  

<user-project-team-description [(display)]="displayUserProjectTeam" [(users)]="selectedUserProjectTeam" (hideEvent)="hideSelectedProjectTeam($event)"></user-project-team-description>  
<user-projects-raport [(display)]="displayUserGenerateRaport" [(projects)]="projects" (hideEvent)="hideGenerateRaport($event)"></user-projects-raport>