.ui-grid .ui-grid-row {
    margin-top: 10px;
}

.data-container {
    padding: 50px;
}

.ui-toolbar {
    height: 3.3em;
}

#buttonLogOut {
    border-radius: 20px;
}

.ui-widget-content .ui-toolbar{
    background-color: blue;
}