﻿ <div class="layout-wrapper">
    <div id="layout-sidebar" [ngClass]="{'active':mobileMenuActive}">
        <span class="layout-logo">         
            <a href="#" class="sidebar-logo" [routerLink]="['/']" (click)="activeMenuId = null">
                <img alt="logo" src="assets/img/fis.png" />
            </a>
        </span>
        <a *ngIf="_permissionsEngine.hasPermission([rolesEnum.ADMINISTRATOR,rolesEnum.SUPERVISOR,rolesEnum.PROJECT_MANAGER,rolesEnum.TEAM_MEMBER,rolesEnum.TEAM_LEADER,rolesEnum.CUSTOMER])" [routerLink]="['/userProfile']" id="userProfile" #userProfileMenuTitle [class.active-menuitem]="userProfileMenuTitle.id == activeMenuId" (click)="activeMenuId = userProfileMenuTitle.id">
            <span>{{ "USER_PROFILE" | translate }}</span>
        </a>
        <a  *ngIf="_permissionsEngine.hasPermission([rolesEnum.ADMINISTRATOR,rolesEnum.SUPERVISOR,rolesEnum.PROJECT_MANAGER,rolesEnum.TEAM_LEADER])"[routerLink]="['/userManagment']" id="userManagment" #userManagmentmenutitle [class.active-menuitem]="userManagmentmenutitle.id == activeMenuId" (click)="activeMenuId = userManagmentmenutitle.id">
            <span>{{ "USERS" | translate }}</span>
        </a>
	
        <a *ngIf="_permissionsEngine.hasPermission([rolesEnum.ADMINISTRATOR,rolesEnum.SUPERVISOR])" [routerLink]="['/roles']"id="roles" #rolesmenutitle [class.active-menuitem]="rolesmenutitle.id == activeMenuId" (click)="activeMenuId = rolesmenutitle.id" >
            <span>{{ "ROLES" | translate }}</span>
        </a>
		<a  *ngIf="_permissionsEngine.hasPermission([rolesEnum.ADMINISTRATOR,rolesEnum.SUPERVISOR,rolesEnum.PROJECT_MANAGER,rolesEnum.TEAM_MEMBER,rolesEnum.TEAM_LEADER])"[routerLink]="['/customers']"id="customer" #customermenutitle [class.active-menuitem]="customermenutitle.id == activeMenuId" (click)="activeMenuId = customermenutitle.id">
            <span>{{ "CUSTOMERS" | translate }}</span>
        </a>
        <a  *ngIf="_permissionsEngine.hasPermission([rolesEnum.ADMINISTRATOR,rolesEnum.SUPERVISOR,rolesEnum.PROJECT_MANAGER,rolesEnum.TEAM_MEMBER,rolesEnum.TEAM_LEADER,rolesEnum.CUSTOMER])"[routerLink]="['/departments']"id="department" #departmentmenutitle [class.active-menuitem]="departmentmenutitle.id == activeMenuId" (click)="activeMenuId = departmentmenutitle.id">
            <span>{{ "DEPARTMENTS" | translate }}</span>
        </a>
          <a  *ngIf="_permissionsEngine.hasPermission([rolesEnum.SUPERVISOR,rolesEnum.PROJECT_MANAGER,rolesEnum.TEAM_MEMBER,rolesEnum.TEAM_LEADER,rolesEnum.CUSTOMER])"[routerLink]="['/projects']"id="project" #projectmenutitle [class.active-menuitem]="projectmenutitle.id == activeMenuId" (click)="activeMenuId = projectmenutitle.id">
            <span>{{ "WORK_TIME" | translate }}</span>
        </a>
          <a  *ngIf="_permissionsEngine.hasPermission([rolesEnum.SUPERVISOR,rolesEnum.PROJECT_MANAGER,rolesEnum.TEAM_LEADER])"[routerLink]="['/projectsManagment']"id="projectManagment" #projectmanagmentmenutitle [class.active-menuitem]="projectmanagmentmenutitle.id == activeMenuId" (click)="activeMenuId = projectmanagmentmenutitle.id">
            <span>{{ "PROJECTS" | translate }}</span>
        </a>
           <a  *ngIf="_permissionsEngine.hasPermission([rolesEnum.SUPERVISOR,rolesEnum.PROJECT_MANAGER,rolesEnum.TEAM_MEMBER,rolesEnum.TEAM_LEADER,rolesEnum.CUSTOMER])"[routerLink]="['/raports']"id="raports" #raportsmenutitle [class.active-menuitem]="raportsmenutitle.id == activeMenuId" (click)="activeMenuId = raportsmenutitle.id">
            <span>{{ "RAPORTS" | translate }}</span>
        </a>         
        <br/>
        <br/>
        <br/>    
        <br/>
        <br/>
        <br/> 
        <br/>
        <br/>      
          </div>

     <div id="layout-content">      
        <div>  
             <p-toolbar>
                <div class="ui-toolbar-group-right ui-toolbar">
                    <p-splitButton label="Język" [model]="languages" icon="fa-language" appendTo="body"></p-splitButton>
                    <button pButton type="button" *ngIf="authenticationService.isLoggedin()" (click)= logout() label="Wyloguj"></button>     
                </div>             
            </p-toolbar>   
        </div>
        <div>
            <router-outlet></router-outlet>
        </div>
    </div>  
</div>
