﻿<div class="content-section overHidden">
    <h3>Projekty:</h3>
    <p-growl [(value)]="msgs"></p-growl>

    <div class="data-container">
        <div class="datatable">
            <p-dataTable [value]="projects" [paginator]="true" [rows]="10" [responsive]="true" [rowStyleClass]="rowStyles" selectionMode="false">
                <header>Użytkownicy</header>
                <p-column field="name" header="Nazwa" [sortable]="true"></p-column>
                <p-column field="customer.name" header="Klient" [sortable]="true"></p-column>
                <!-- <p-column field="accountant" header="Księgowy" [style]="{'overflow':'visible'}">
                    <template pTemplate type="body" let-col let-row="rowData">
                        <span [pTooltip]="row[col.field]?.email" appendTo="target" style="position: relative;">
                          {{row[col.field]?.lastName}}
          	        </span>
                    </template>
                </p-column> -->
                <p-column field="department.name" header="Dział" [sortable]="true"></p-column>
                <p-column field=projectManager header="PM" [style]="{'overflow':'visible'}">
                    <template pTemplate="body" let-col let-row="rowData">
                        <span [pTooltip]="row[col.field]?.email" appendTo="target" style="position: relative;">
          	  {{row[col.field]?.lastName}}
          	</span>
                    </template>
                </p-column>

                <p-column header="Akcje">
                    <template let-project="rowData" pTemplate="body">
                        <button type="text" pTooltip="Modyfikuj dane" tooltipPosition="top" field="description" (click)="editProject(project.id)" pButton icon="fa-pencil-square-o "></button>
                        <!--  <button type="text" field="description"(click)="deleteProject(project.name)" pButton icon="fa-trash"></button>-->
                        <button type="text" pTooltip="Dodaj pracownika do projektu" tooltipPosition="top" field="description" (click)="addUserToTeam(project)" pButton icon="fa-user-plus"></button>
                        <button type="text" pTooltip="Zmień status projektu" tooltipPosition="top" field="description" (click)="changeStatusProject(project.id)" pButton icon="fa-check-square-o"></button>
                        <button type="text" pTooltip="Modyfikuj schemat raportu" tooltipPosition="top" field="description" (click)="navigateToTableGenerator(project)" pButton icon="fa-gavel"></button>
                    </template>
                </p-column>
            </p-dataTable>
        </div>
        <br/>
        <div style="float: right;">
            <button type="text" *ngIf="_permissionsEngine.hasPermission([rolesEnum.SUPERVISOR,rolesEnum.ADMINISTRATOR])" (click)="showDialog()" pButton icon="fa-plus" label="Dodaj projekt"></button>
        </div>

        <p-dialog header="Projekt" [(visible)]="display" modal="modal" width="300" responsive="true" (onAfterHide)="clearProjectUI()">
            <label for="name">Nazwa &nbsp;&nbsp;</label><br />
            <input type="text" pInputText name="name" [disabled]="inputDisable.name" [(ngModel)]="model.name" style="width: 44%;" required
            />
            <div>
                <label for="customer">Klient</label><br />
                <p-dropdown [options]="customers" name="customer" [style]="{'width':'250px'}" filter="filter" [(ngModel)]="model.customer"></p-dropdown>
            </div>
            <div>
                <label for="department">Dział</label><br />
                <p-dropdown [options]="departments" name="department" [(ngModel)]="model.department" [style]="{'width':'250px'}" filter="filter"></p-dropdown>
            </div>
            <div>
                <label for="projectManager">PM</label><br />
                <p-dropdown [options]="projectManagers" name="projectManager" [(ngModel)]="model.projectManager" [style]="{'width':'250px'}"
                    filter="filter"></p-dropdown>
            </div>
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <p-footer>
                <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
                    <button type="button" pButton icon="fa-close" (click)="clearProjectUI()" label="Anuluj"></button>
                    <button [disabled]="loading" pButton icon="fa-check" label="OK" (click)="displayButtonAction()"></button>
                </div>
            </p-footer>
        </p-dialog>
        <p-dialog header="Dodaj pracowników do projektu" [(visible)]="teams" modal="modal" width="500" responsive="true">
            <p-pickList [style]="{ 'display': picketLinkVisible}" [source]="users" [target]="usersInTeam" sourceHeader="Użytkownicy"
                targetHeader="Zespół" [responsive]="true" [sourceStyle]="{'height':'200px'}" [targetStyle]="{'height':'200px'}">
                <template let-user pTemplate="item">
                    <div class="ui-helper-clearfix">
                        <div *ngIf="user.active=='0'" style="color:gray; display:inline-block">{{user.lastName +"&nbsp;"+ user.firstName}}</div>
                        <div *ngIf="user.active==1" style="display:inline-block">
                            <div *ngIf="user.activeUserProject=='0'&&user.active==1" style="color:red; display:inline-block">{{user.lastName +"&nbsp;"+ user.firstName}}</div>
                            <div *ngIf="user.activeUserProject=='1'&&user.active==1" style="color:green; display:inline-block">{{user.lastName +"&nbsp;"+ user.firstName}}</div>
                            <div *ngIf="user.activeUserProject==null" style="display:inline-block">{{user.lastName +"&nbsp;"+ user.firstName}}</div>
                        </div>
                        <button *ngIf="user.inTeam && usersInTeam.includes(user)" pTooltip="Zmień status zespołu" tooltipPosition="top" type="text" field="description" (click)="changeStatusInProject(project.id,user.id)" style="float:right"
                            pButton icon="fa-check-square-o"></button>
                    </div>
                </template>
            </p-pickList>
            <p-footer>
                <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">                   
                    <button type="button" pButton icon="fa-close" (click)="close()" label="Anuluj"></button>
                    <button [disabled]="loading" pButton icon="fa-check" (click)="saveTeam()" label="OK"></button>
                </div>

            </p-footer>
        </p-dialog>
    </div>