﻿<div class="content-section overHidden"> 
    <h3>{{ "USERS" | translate }}</h3>
    <div class="data-container">
        <div class="datatable">
            <p-dataTable [value]="users" [rowStyleClass]="rowStyles" [paginator]="true" [rows]="10" [responsive]="true">
                <header>Użytkownicy</header>
                <p-column field="firstName" header="Name" [sortable]="true"></p-column>
                <p-column field="lastName" header="Last Name" [sortable]="true"></p-column>
                <p-column field="username" header="Login" [sortable]="true"></p-column>
                <p-column  field="email" header="Email" [sortable]="true"></p-column>
                <p-column *ngIf="_permissionsEngine.hasPermission([rolesEnum.ADMINISTRATOR,rolesEnum.SUPERVISOR, rolesEnum.TEAM_MEMBER])" header="Akcje">
                    <template let-user="rowData" pTemplate="body">
                        <button type="text" pTooltip="Modyfikuj dane" tooltipPosition="top" *ngIf="_permissionsEngine.hasPermission([rolesEnum.SUPERVISOR,rolesEnum.ADMINISTRATOR])" field="description" (click)="editUser(user.username)" pButton icon="fa-pencil-square-o "></button>
                        <button type="text" pTooltip="Usuń" tooltipPosition="top" *ngIf="_permissionsEngine.hasPermission([rolesEnum.SUPERVISOR,rolesEnum.ADMINISTRATOR])" field="description" (click)="deleteUser(user.username)" pButton icon="fa-check-square-o"></button>
                        <button type="text" pTooltip="Modyfikuj hasło" tooltipPosition="top" field="description" (click)="editPassword(user.id)" pButton icon="fa-key"></button>
                        <button type="text" pTooltip="Zarządzaj prawami" tooltipPosition="top" *ngIf="_permissionsEngine.hasPermission([rolesEnum.SUPERVISOR,rolesEnum.ADMINISTRATOR])" field="description" (click)="onRowSelect(user)" pButton icon="fa-users"></button>
                    </template>
                </p-column>
            </p-dataTable>
            <br/>
            <div style="float: right;">
                <button type="text" *ngIf="_permissionsEngine.hasPermission([rolesEnum.SUPERVISOR,rolesEnum.ADMINISTRATOR])" (click)="showDialog()" pButton icon="fa-plus" label="Dodaj użytkownika"></button>
            </div>    
        </div>

        </div>
        <p-growl [(value)]="msgs"></p-growl>
        <p-dialog header="Użytkownik" [(visible)]="display" modal="modal" width="300" responsive="true" (onAfterHide)="clearUserUI()">
            <label for="firstName">Imie &nbsp;&nbsp;</label><br />
            <input type="text" pInputText name="firstName" [disabled]="inputDisable.firstName" [(ngModel)]="model.firstName" required pattern="[a-zA-Z]*"
            /><br />
            <label for="lastName">Nazwisko</label><br />
            <input type="text" pInputText name="lastName" [disabled]="inputDisable.lastName" [(ngModel)]="model.lastName" required pattern="[a-zA-Z]*"/><br
            />
            <div>
                <label for="email">Email</label><br />
                <input type="text" pInputText name="email" [disabled]="inputDisable.email" [(ngModel)]="model.email" required pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"><br
                />
            </div>
            <div>
                <label for="username">Login</label><br />
                <input type="text" pInputText name="username" [disabled]="inputDisable.username" [(ngModel)]="model.username" required /><br
                />
            </div>
            <div id=password>
                <label for="password">Hasło</label><br />
                <input type="password" pPassword class="form-control" name="password" [disabled]="inputDisable.password" [(ngModel)]="model.password"
                    #password="ngModel" required /><br />
            </div>
            <div id=subpassword>
                <label for="subpassword">Potwierdź hasło</label><br />
                <input type="password" pPassword name="subpassword" [disabled]="inputDisable.subpassword" [(ngModel)]="model.subpassword"
                    required /><br />
            </div>
            <p-footer>
                <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
                    <button type="button" pButton icon="fa-close" (click)="clearUserUI()" label="Anuluj"></button>
                    <button [disabled]="loading" pButton icon="fa-check" label="OK" (click)="displayButtonAction()"></button>
                </div>
            </p-footer>
        </p-dialog>
        <p-dialog header="Zmień hasło" [(visible)]="editPasswordPopup" modal="modal" width="300" responsive="true" (onAfterHide)="clearPasswordUI()">
            <label for="password">Hasło</label><br />
            <input type="password" pPassword class="form-control" name="password" [(ngModel)]="model.password" />
            <label for="subpassword">Potwierdź hasło</label><br />
            <input type="password" pPassword class="form-control" name="subpassword" [(ngModel)]="model.subpassword" />
            <p-footer>
                <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
                    <button type="button" pButton icon="fa-close" (click)="clearPasswordUI()" label="Anuluj"></button>
                    <button pButton icon="fa-check" label="OK" (click)="editUserPassword()"></button>
                </div>
            </p-footer>
        </p-dialog>
        <p-dialog header="Edytuj uprawnienia" [(visible)]="editRolesPopup" modal="modal" width="600" responsive="true">
            <p-pickList [style]="{'display': true}" [source]="roles" [target]="userRoles" sourceHeader="Role" targetHeader="Przypisane role"
                [responsive]="true" [sourceStyle]="{'height':'200px'}" [targetStyle]="{'height':'200px'}" (onMoveToTarget)="addRoleToUser($event)"
                (onMoveToSource)="removeRoleFromUser($event)">
                <template let-role pTemplate="item">
                    <div class="ui-helper-clearfix">
                        <div>{{role.role}}</div>
                    </div>
                </template>
            </p-pickList>
            <br/>
            <div style="float: right;">
                <button type="button" pButton icon="fa-check" (click)="clearRolesUI()" label="OK"></button>
            </div>   
        </p-dialog>

        <p-dialog header="Ostrzeżenie" [(visible)]="showNoUserRolesWarning" modal="modal" width="300" responsive="true">
            <label>Usunięto wszystkie uprawnienia, użytkownik nie będzie mógł zalogować się do systemu</label>
            <p-footer>
                <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix" style="float: right;">
                    <button pButton icon="fa-check" label="OK" (click)="setShowNoUserRolesWarning(false)"></button>
                </div>
            </p-footer>
        </p-dialog>
</div>
  