<div class="content-section overHidden">
	<p-growl [(value)]="msgs"></p-growl>
	<h3>Role:</h3>
	<div class="data-container">
		<div class="datatable">
			<p-dataTable [value]="roles" selectionMode="single"
				[paginator]="true" [rows]="10" [responsive]="true"> <header>Role
				</header>
				 <p-column field="role" header="Nazwa roli" [sortable]="true"></p-column>
			<p-column field="description" header="Opis"></p-column>
			<p-column header="Akcje">
			  <template let-role ="rowData" pTemplate="body">
			  <button type="text" pTooltip="Modyfikuj opis" tooltipPosition="top" field="description"(click)="editRole(role.role)" pButton icon="fa-pencil-square-o "></button>
            </template>
			</p-column>
			
			 </p-dataTable>
		</div>

	<p-dialog header="Rola" [(visible)]="display" modal="modal" width="300" responsive="true" (onAfterHide)="clearRoleUI()">
        <div>
            <label for="role">Nazwa&nbsp;&nbsp;</label><br />
            <input type="text" pInputText name="role" [disabled]="inputDisable.name"   [(ngModel)]="model.role" required />
        </div>
        <div >
            <label for="description">Opis</label><br />
           <textarea rows="5" cols="20" name="description" [(ngModel)]="model.description" pInputTextarea></textarea>
        </div>
        

        <p-footer>
            <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
				<button type="button" pButton icon="fa-close" (click)="clearRoleUI()" label="Anuluj"></button>
               	<button [disabled]="loading" pButton icon="fa-check" label = "OK" (click)="displayButtonAction()"></button>
            </div>
        </p-footer> 
</p-dialog>
</div>