﻿<div class="content-section overHidden">
	<br />
	<h3>Szukaj danych:</h3>
	<div class="ui-g-12 ui-md-6 ui-lg-3">
		<h3>Od</h3>
		<p-calendar [(ngModel)]="model.fromDate" [showIcon]="true" [maxDate]="model.toDate" dateFormat="dd.mm.yy"></p-calendar>
	</div>
	<div class="ui-g-12 ui-md-6 ui-lg-3">
		<h3>Do</h3>
		<p-calendar [(ngModel)]="model.toDate" [showIcon]="true" [minDate]="model.fromDate" dateFormat="dd.mm.yy"></p-calendar>
	</div>
	<div class="ui-g-12 ui-md-6 ui-lg-2">
		<h3>Wybierz rodzaj</h3>
		<p-dropdown (onChange)="fillCombo()" [options]="rapotrTypes" class="form-control" name="selectedProject" [(ngModel)]="model.selectedType"
		 #selectedProject="ngModel" [style]="{'width':'170px'}"></p-dropdown>
	</div>
	<div class="ui-g-12 ui-md-6 ui-lg-2">
		<h3>Nazwa</h3>
		<p-dropdown [options]="selectedTypeItems" class="form-control" name="selectedItem" [(ngModel)]="model.selectedItem" #selectedProject="ngModel"
		 [style]="{'width':'170px'}"></p-dropdown>
	</div>
	<div class="ui-g-12 ui-md-6 ui-lg-2">
		<br />
		<br />
		<br />
		<button type="text" (click)="filterRaports()" pButton icon="fa-search" label="Szukaj" style="float: right;"></button>
	</div>
	<p-growl [(value)]="msgs"></p-growl>
	<div class="ui-g-12 ui-md-6 ui-lg-12">
		<div class="data-container">
			<div class="datatable">
				<p-dataTable [value]="raportsList" [paginator]="true" [rows]="10" [responsive]="true" [rowStyleClass]="rowStyles" selectionMode="false">
					<p-column field="date" header="Data" [sortable]="true"></p-column>
					<p-column field="fromH" header="Od" [sortable]="true"></p-column>
					<p-column field=toH header="Do" [sortable]="true" [style]="{'overflow':'visible'}"> </p-column>
					<p-column field=hours header="Czas" [sortable]="true" [style]="{'overflow':'visible'}"></p-column>
					<p-column field=name header="Nazwisko" [sortable]="true" [style]="{'overflow':'visible'}"></p-column>
					<p-column field=projectName header="Projekt" [sortable]="true" [style]="{'overflow':'visible'}"></p-column>
					<p-column field=description header="Opis" [sortable]="true" [style]="{'overflow':'visible'}"></p-column>
					<p-column header="Akcje">
						<template let-task="rowData" pTemplate="body">
							<button type="text" pTooltip="Zmień status" tooltipPosition="top" *ngIf="_permissionsEngine.hasPermission([rolesEnum.SUPERVISOR])" field="description" (click)="changeTaskStatus(task.id)" pButton icon="fa-check-square-o"></button>
						</template>
					</p-column>
				</p-dataTable>
			</div>
			<div class="ui-g-12 ui-md-6 ui-lg-10">
				<h3 style="float:right;margin: 10px 0 0 0">Suma godzin</h3>
			</div>
			<div class="ui-g-12 ui-md-6 ui-lg-2">
				<input id="sum" type="text" size="20" pInputText [(ngModel)]="model.summary" [disabled]="true" style="opacity:1;float:right"/>
			</div>
			<br />
			<br />
			<br />
		</div>
		<div style="float: right;">
			<p-splitButton label="Pobierz" icon="fa-download" [model]="downloadTypeItems"></p-splitButton>
		</div>
			<br />
			<br />
			<br />
			<br />
	</div>

	