.ui-button-icon-only {
    border-radius: 20px !important;
    max-width: 2em !important;
    min-width: 2em !important;
    max-height: 2em !important;
    min-height: 2em !important;
    margin-left: 46%;
    margin-top: -0.2em;
    margin-bottom: -0.2em;
}

.fa {
    font-size: 1.2em;
    color: #0275D8;
}