 <p-dataTable [value]="loggedInUser.role" [paginator]="true" [rows]="3" [responsive]="true">
    <p-header>Posiadane uprawnienia <span class="ui-inputgroup-addon"><i class="fa fa-book"></i></span></p-header>
    <p-column header="Rola">
         <template let-role="rowData" pTemplate="body">
            <div>{{role.role}}</div>         
        </template> 
    </p-column>
    <p-column header="Opis">
        <template let-role="rowData" pTemplate="body">        
             <button pButton [style]="ui-button-icon-only" (mouseenter)="selectedRoleDescription=role.description; roleDescription.show($event)" (mouseleave)="selectedRoleDescription=''; roleDescription.hide($event)" icon="fa-search"></button>        
        </template> 
    </p-column> 
</p-dataTable>

<p-overlayPanel #roleDescription>
    <user-role-description [(description)]="selectedRoleDescription"></user-role-description>
</p-overlayPanel>