<p-panel>
    <p-header>Informacje o wybranym projekcie <span class="ui-inputgroup-addon"><i class="fa fa-drivers-license"></i></span></p-header>
    <div class="ui-g" id="mainContentMargins">
        <div class="ui-g-3">
            <div class="ui-g-12" id="projectInput">
                <span class="ui-inputgroup-addon"><i class="fa fa-arrow-circle-right"></i></span>
                <label>Projekt</label>
            </div>
            <div class="ui-g-12" id="projectInput">
                <input [disabled]="true" id="projectInputSize" type="text" pInputText [(ngModel)]="projectUrlParameters.projectName"> 
            </div>          
        </div>
        <div class="ui-g-3">
            <div class="ui-g-12" id="projectInput">
                <span class="ui-inputgroup-addon"><i class="fa fa-arrow-circle-right"></i></span>
                <label>Klient</label>
            </div>
            <div class="ui-g-12" id="projectInput">
                <input [disabled]="true" id="projectInputSize" type="text" pInputText [(ngModel)]="projectUrlParameters.customerName"> 
            </div>         
        </div>
        <div class="ui-g-3">
            <div class="ui-g-12" id="projectInput">
                <span class="ui-inputgroup-addon"><i class="fa fa-arrow-circle-right"></i></span>
                <label>Dział</label>
            </div>
            <div class="ui-g-12" id="projectInput">
                <input [disabled]="true" id="projectInputSize" type="text" pInputText [(ngModel)]="projectUrlParameters.departmentName"> 
            </div>   
        </div>
        <div class="ui-g-3">
            <div class="ui-g-12" id="projectInput">
                <span class="ui-inputgroup-addon"><i class="fa fa-arrow-circle-right"></i></span>
                <label>Zarządca projektu</label>
            </div>
            <div class="ui-g-12" id="projectInput">
                <input [disabled]="true" id="projectInputSize" type="text" pInputText [(ngModel)]="projectUrlParameters.projectManagerFirstAndLastName"> 
            </div>        
        </div>
    </div>
</p-panel>