<div id="mainContentmargin"> 
    <p-fieldset legend="Profil użytkownika" id="fielsetContentMargin">            
        <div class="ui-g">          
            <div class="ui-g-6"><user-basic-information [user]="loggedInUser"></user-basic-information></div>
            <div class="ui-g-6"><user-roles [user]="loggedInUser"></user-roles></div>
            <div class="ui-g-12"><user-projects [user]="loggedInUser"></user-projects></div>           
        </div>            
    </p-fieldset>           
</div>
